

@media (max-width: 1680px){

	.fcs-wrapper.outers_fcs_wrapper{
		  .carousel{

		    .carousel-caption{
		      .sliderrrr{

		      }
		      .bxsl_tx_fcs{
		        .content{
		          h2{
		            font-size: 21px;
		          }
		          p{
		            font-size: 13px;
		          }
		        }
		        
		      }

		    }
		  }
		  clear: both;
	}

    section.blocks_home-2 {
        .lefts_filter {
            h3 {
            font-size: 23px;
            }
            ul {
                li {
                    a {
                    font-size: 14px;
                    }
                }
            }
        }

    }

    .carousel-caption.caption-slider-home .bxsl_tx_fcs h3{
        font-size: 26px;
    }
    .carousel-caption.caption-slider-home{
        bottom: 4%;
    }

}

@media (max-width: 1400px){

	header.head {
	    position: fixed;
	    padding-top: 1rem;
	    padding-bottom: 1rem;
	    .navbar-brand{
	        max-width: 250px;
	        padding: 0;
	    }
	    .blocks_vw_menu.pt-3{
	        padding-top: 0.7rem !important;
	        max-width: 32px;
	        display: inline-block;
	        text-align: right;
	        margin: 0;
	        vertical-align: middle;
	    }
	}

	.menu-sheader-datals ul li{
	    padding: 0.3em 0;
	    a{
	        font-size: 16px;
	    }
	}

	section.blocks_home-2 {
	    .lefts_filter {
	        h3 {
	        font-size: 20px;
	            br{
	                display: none;
	            }
	        }
	        ul {
	            li {
	                a {
	                font-size: 14px;
	                }
	            }
	        }
	    }

	}
	.pl-85 {
	    padding-left: 45px;
	}
	.container_def {
	    padding: 0 45px;
	}
	section.home-sec-4 .pictures .pos_t h6{
	    font-size: 23px;
	}
	.carousel-caption.caption-slider-home .bxsl_tx_fcs h3{
	    font-size: 28px;
	}
	.carousel-caption.caption-slider-home .bxsl_tx_fcs h5{
	    font-size: 17px;
	}
	section.block-home-1{
	    min-height: auto;
	    padding: 1.4rem 0;
	}
	footer.footer-1 h5{
	    font-size: 25px;
	}
	footer.footer-1 .s-content p{
	    font-size: 14px;
	}

	.carousel-caption.caption-slider-home .bxsl_tx_fcs h3 {
	    font-size: 23px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-item{
	    background-position: center;
	}
	section.blocks_home-2 .blocks_machine .desc_info h5{
	    font-size: 25px;
	}
	section.blocks_home-2 .blocks_machine .desc_info p{
	    font-size: 15px;
	}
	.tops_filter form label{
	    font-size: 15px;
	}
	.tops_filter form select{
	    width: 165px;
	    font-size: 16px;
	    padding-top: 0.2rem;
	    padding-bottom: 0.2rem;
	}
	.tops_filter p{
	    font-size: 17px;
	}
	.tops_filter a.backs_to{
	    font-size: 15px;
	}

}

  @media (max-width: 1290px){

    section.home-sec-4 .pictures .pos_t h6{
        font-size: 20px;
    }
    footer.footer-1 h5 {
        font-size: 22px;
    }

	// new web
    .fcs-wrapper.outers_fcs_wrapper .carousel .carousel-indicators{
    	left: 1rem;
    }
    section.home-sec-1 .isi p {
	    margin-bottom: 3rem;
	    font-size: 0.9rem;
	}
	section.home-sec-2{
		padding: 6rem 115px !important;
	}
	.more a{
		font-size: 17px;
	}

  }

  @media (max-width: 980px){

  }

  @media (max-width: 767px){

  	.container.w904{
		padding: 0 15px;
	}

    header.head{
        // position: relative; 
        padding: 0.9rem 0;
        .container_def{
            padding: 0 15px;
        }
        .blocks_vw_menu{
            padding-top: 0 !important;
        }
    }
    .container_def{
        padding: 0 15px;
    }
    .carousel-caption.caption-slider-home {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 3rem 0px;
    }
    .carousel-caption.caption-slider-home .bxsl_tx_fcs h3 {
        font-size: 20px;
    }
    .carousel-caption.caption-slider-home .bxsl_tx_fcs h5 {
        font-size: 14px;
    }
    .outer-blok-black-menuresponss-hides .blocksn_logo-centers img{
        left: 0;
    }
    .outer-blok-black-menuresponss-hides .blocksn_logo-centers{
        display: block;
        margin: 0 auto;
        max-width: 150px;
    }
    .menu-sheader-datals ul li a{
        font-size: 15px;
    }
    .menu-sheader-datals ul li {
        padding: 0.35em 0px;
    }
    .hidesmenu-frightd {
        position: absolute;
        right: 15px;
        display: block;
        max-width: 30px;
        top: -50px;
    }
    .hidesmenu-frightd img{
        max-width: 100%;
    }

    header.head .blocks_vw_menu img{
        max-width: 25px;
    }
    header.head .blocks_vw_menu {
        padding-top: 0.5rem !important;
    }
    .outer-blok-black-menuresponss-hides .blocks-info-menubtm p{
        font-size: 12px;
    }
    .outer-blok-black-menuresponss-hides .blocks-info-menubtm p a{
        font-size: 13px;
    }

    .outer-blok-black-menuresponss-hides .blocks-info-menubtm i.far,
    .outer-blok-black-menuresponss-hides .blocks-info-menubtm i.fab{
        font-size: 25px;
    }
    section.block-home-1 .inner_sections.def_home ul.list_btm li p{
        font-size: 10px;
    }
    section.block-home-1 .inner_sections.def_home ul.list_btm li img{
        max-width: 20px;
    }
    .pl-85 {
        padding-left: 15px;
    }
    .right-space.pr-5{
        padding: 0 15px !important;
    }
    section.home-sec-4 .pictures .pos_t{
        padding-bottom: 2.5rem;
    }
    .lefts_space.pl-5{
        padding: 0 15px !important;
    }
    .home-sec-5 .lists_nm_logo ul li{
        padding: 0.5rem 0.5rem;
    }
    footer.footer-1 .s-content{
        padding: 1.5rem 15px 0rem; 
    }
    footer.footer-1 .s-content p{
        font-size: 13px;
    }
    footer.footer-1{
        padding-bottom: 2rem; 
    }
    .blocks_btm_copyrights p.copy{
        padding-bottom: 0.7rem;
    }
    .blocks_btm_copyrights p.copy:last-child{
        padding-bottom: 0;
    }
    footer.footer-1 h5{
        font-size: 18px;
    }
    .t-backtop{
        max-width: 60px;
        margin-right: 15px;
        top: -30px;
    }
    header.head.inside_head{ 
        background-color: #1e1f4f;
        position: relative;
        top: inherit; left: inherit;
    }

    section.cover-insidepage .nblocks_desc .inner h1{
        font-size: 22px;
    }
    .insides_page.pg_default .py-5{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .tops_filter form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .tops_filter a.backs_to{
        font-size: 15px;
    }
    .tops_filter .text-right{
        text-align: center !important;
        padding-top: 0.5rem;
    }
    .lists_detail_products .items .descriptions{
        padding: 1rem 0 !important;
    }
    .lists_location_tm .items .infos h3{
        margin-bottom: 1.5rem;
    }
    .lists_location_tm .items .infos{
        padding-bottom: 2rem;
    }
    
    section.insides_page.pg_default.pg-locations{
        background: none;
        background-color: #f2f4f4;
    }
    .blocks_btm_copyrights p.copy{
        text-align: left !important;
    }

    section.blocks_about-3 .pictures.rn,
    section.blocks_about-2 .pictures.rn,
    section.blocks_about-1 .pictures.rn{
        right: 0;
        left: 0;
    }
    section.blocks_about-2 .pt-250.content-texts {
        padding-top: 50px;
    }
    section.cover-insidepage .nblocks_desc{
        height: 65%;
    }

    section.block-home-1 .inner_sections.def_home h3{
        font-size: 26px;
    }
    section.block-home-1 .inner_sections.def_home p{
        font-size: 14px;
    }
    section.block-home-1 .inner_sections.def_home ul.list_btm{
        margin: 0;
    }
    section.blocks_home-2 .back-blue{
        display: none !important;
    }
    section.blocks_home-2 .blocks_machine .tops h4{
        font-size: 26px;
    }

    section.blocks_home-2 .blocks_machine .desc_info h5{
        font-size: 23px;
    }
    section.blocks_home-2 .blocks_machine .desc_info p{
        font-size: 14px;
        line-height: 1.4;
    }
    footer.footer-1 .s-content p{
        line-height: 1.7;
    }
    section.home-sec-4 .pictures .pos_t h6 br{
        display: none;
    }


    .blocks_n_float_footersnx{
        span{
            a{
                text-decoration: none;
                display: block;
                line-height: 1;
                color: #fff;
                font-size: 16px;
                i.fa{
                    font-size: 17px;
                    color: #fff;
                }
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
            display: block;
            text-align: center;
        }
        .row>.col.borders_right{
            border-right: 2px solid #fff;
        }
        background-color: #192152;
        padding: 0.7rem 0;
        width: 100%;
        height: auto;

        position: fixed;
        z-index: 351;
        left: 0px;
        bottom: 0px;
    }
    .blocks_btm_copyrights.py-4{
        padding-bottom: 5rem !important;
    }
    
    .content-texts h3{
        font-size: 25px;
    }
    .content-texts p{
        font-size: 14px;
    }
    .lists_location_tm .items .infos h3{
        margin-top: 0;
    }

    header.head.inside_head{
        position: fixed !important;
        top: 0px;
    }
    section.cover-insidepage {
        padding-top: 77px; 
    }

    footer.footer-1 .s-content p{
        font-size: 12px;
    }
    .ft_top_right p{
        font-size: 13px;
    }
    footer.footer-1 .s-content h6{
        font-size: 15px;
    } 

    section.blocks_about-2 .pt-250.content-texts .blc_vision h4{
        font-size: 35px;
    }


    // sett new web
    header.head .taglines_hd{
    	display: none;
    }
    header.head .lgo_header{
    	max-width: 105px;
    }
    .fcs-wrapper.outers_fcs_wrapper .carousel .carousel-caption {
	    right: inherit;
	    left: -20px;
	    padding-bottom: 0;
	    bottom: 0;
	    padding-top: 0;
	    top: -1px;
	}
	.fcs-wrapper.outers_fcs_wrapper .carousel .carousel-caption .bxsl_tx_fcs .content{
		padding: 1.8rem 1.5rem;
	}
	section.home-sec-1 .content{
		padding-bottom: 1rem;
    	padding-top: 0.8rem !important;
	}
	.view_buttns_allprod {
	    margin-top: 2rem;
	}
	.view_buttns_allprod a{
		margin-bottom: 3rem;
	}
	section.home-sec-2 {
	    padding: 6rem 15px!important;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	section.home-sec-2 .isi{
		margin-bottom: 0.85rem;
	}
	section.home-sec-3{
		margin-top: 4.5rem;
	}
	section.home-sec-3 h4{
		margin-bottom: 0.2rem;
	}
	.outers_list_news_data .items .contents{
		max-width: inherit;
	}
	section.home-sec-3 .box-image p{
		margin-top: 20px;
	}
	.more {
	    margin-top: 1rem;
	    margin-bottom: 4rem;
	}

	section.footer .contact .prelative.container{
		padding: 0px 0;
	}

	section.inside_cover_pg .blocks_outer_breadstop .blocks_title .inner h1{
		font-size: 25px;
	}
	section.inside_cover_pg .blocks_outer_breadstop .blocks_title .inner{
		padding: 0.8rem;
	}
	section.inside_cover_pg .blocks_outer_breadstop .blocks_title::before{
		right: -30px;
	}
	.list_data-about-3 .pictures{
		padding: 2rem 0;
	}
	section.home-sec-about-2{
		margin-top: 3rem;
	}
	section.home-sec-about-2 .outers {
	    margin-top: 4rem;
	}
	section.home-sec-about-2 .list-data-about .outerss {
	    margin-bottom: 3rem;
	}
	section.home-sec-about-2 .list-data-about .outerss .jarak .content h4{
		font-size: 22px;
	}
	section.home-sec-about-3.outers_back_visionblock .content p{
		font-size: 15px;
	}
	section.home-sec-about-3.outers_back_visionblock .content{
		margin-bottom: 2.5rem;
	}
	section.home-sec-about-3.outers_back_visionblock .content h4{
		font-size: 32px;
	}
	section.home-sec-about-3.outers_back_visionblock{
		min-height: 500px;
	}
	section.home-sec-products .inner-judul{
		margin-top: 2rem;
	}
	section.home-sec-products .inner-judul h3{
		margin-bottom: 1.5rem;
	}
	section.home-sec-products .inner-judul p{
		margin-bottom: 0;
	}
	.outers_list_product .items_box .info h3{
		font-size: 16px;
	}
	
	section.home-sec-quality-3 .list_data-3,
	section.home-sec-quality-2 .list_data-2,
	section.home-sec-quality-1 .list_data-1{
		margin-bottom: 2rem;
	}
	section.home-sec-quality-1 .list_data-1{
		margin-top: 2.5rem;
	}
	
	section.home-sec-quality-2 .pictures,
	section.home-sec-quality-2 .pictures img{
		display: block;
		margin: 0 auto;
	}
	section.home-sec-quality-2 .pictures img{
		max-width: 100px;
	}
	section.home-sec-quality-2 .pictures{
		min-height: 160px;
		display: flex;
	  align-items: center;
	  justify-content: center;
	}
	section.home-sec-quality-2 .contents1 h4{
		margin: 0;
		text-align: center;
		margin-bottom: 1.5rem;
		font-size: 20px;
	}
	section.home-sec-quality-2{
		padding-bottom:3rem;
	}
	section.home-sec-quality-1 {
	    margin-bottom: 4rem;
	}

	.outers_list_news_data .items .contents {
	    max-width: inherit;
	    padding: 0 10px;
	}
	.outers_list_news_data .items .contents a, 
	.outers_list_news_data .items .contents a p{
		font-size: 12px;
		margin-bottom: 10px;
	}
	section.home-sec-blog .pictures {
	    margin-bottom: 15px;
	}
	section.home-sec-blog h4{
		font-size: 30px;
		margin-bottom: 1rem;
	}

	.blog-detail-cnt1 .tops_title h1{
		font-size: 27px;
	}

	section.home-sec-contact .judul h4{
		font-size: 29px;
	}
	.box_info_contacttop .box_item{
		padding-bottom: 1rem;
	}

	section.home-sec-contact-2 .content{
		padding-bottom: 2.5rem;
	}
	section.home-sec-contact-2 {
	    margin-bottom: 2rem;
	}
	section.footer ul{
		margin-right: 0;
	}
	section.home-sec-contact-2 .content p{
		font-size: 15px;
	}
	section.home-sec-contact-2 .titles p{
		font-size: 16px;
	}
	section.home-sec-contact .judul {
	    margin-bottom: 2rem;
	}

    .outers_list_product .items_box .info .subs_info{
        p{
            span{
                font-size: 13px;
            }
            font-size: 13px;
        }
    }

    .outers_list_news_data .items .contents a, .outers_list_news_data .items .contents a p,
    .outers_block_articleshome .lists_data .contents p{
        margin-top: 0;
        font-size: 18px;
    }
    .outers_block_articleshome .lists_data .contents p{
        margin-top: 1.2rem;
    }
    section.home-sec-3 .box-image a{
        margin-top: 10px;
    }
    section.home-sec-3 h4 {
        margin-bottom: 2.2rem;
    }
    .outers_list_news_data .items {
        margin-bottom: 2.2rem;
    }

    .outers_list_news_data .items .contents{
        padding: 15px 10px 0;
    }

    .t-backtop{
        max-width: 120px;
        font-size: 14px;
    }

    section.home-sec-quality-1 .list_data-2 {
        margin-bottom: 3rem;
    }

    .fcs-wrapper.outers_fcs_wrapper{
        height: 100%;
        position: relative;
    }

    .fcs-wrapper.outers_fcs_wrapper .carousel .carousel-caption{
        position: absolute;
        bottom: 0;
        height: 28%;
        top: inherit;
    }
    .cols_buttons_nav{
        bottom: 17px;
    }

    .container{
        max-width: 100%;
    }

}