@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@noto : 'Noto Sans',
sans-serif;
@lato : 'Lato',
sans-serif;

@blue : #000080;

html,
body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  font-family: @noto;
  // color: @blue;
}

.container.cont-fcs {
  max-width: 100%;
  padding: 0;
}
.container{
  max-width: 1325px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @noto;
  margin-bottom: 0;
}

.button-red {
  font-weight: 400;
  border: 0;
  left: 0;
  width: 250PX;
  background: #e81932;
  text-transform: uppercase;
  margin-top: 15px;
  margin-right: 0;

  a {
    color: #ffffff;

  }

}

header.insides-head{
  position: relative !important;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

@fira_sans : 'Fira Sans', sans-serif;

div, a, span, p,
h1, h2, h3, h4, h5, h6{
  font-family: @fira_sans;
}
body{
  overflow-x: hidden;
}

.fcs-wrapper.outers_fcs_wrapper{
  .carousel{

    .carousel-inner{
      .carousel-item{
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .carousel-caption{
      .sliderrrr{

      }
      .bxsl_tx_fcs{
        .content{
          h2{
            font-size: 21px;
            font-weight: 500; color: #fff;
            display: block; line-height: 1;
            margin-bottom: 0;
            margin-bottom: 0.6rem;
          }
          p{
            font-size: 14px; line-height: 1.35;
            font-weight: 400; color: #fff;
          }
          padding: 1.8rem 2rem;
          position: relative;
          z-index: 10;
        }
        background-color: #0c1555;
        position: relative;
      }

      .bxsl_tx_fcs::after{
        display: inline-block;
        content: "";
        position: absolute;
        z-index: 5;
        top: 0px;
        left: 100px;
        width: 900px;
        height: 100%;
        background-color: #0c1555;
      }
      right: 0;
      left: 0;
      padding-bottom: 0;
      bottom: -70px;
    }

    .carousel-indicators{
      li{
        width: 9px;
        height: 9px;
        background-color: #b2b2b2;
        cursor: pointer;
        margin: 0 4px;
      }
      li:focus,
      li:hover,
      li.active{
        width: 9px;
        height: 9px; 
        background-color: #223b79;
        margin: 0 4px;
      }
      
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      text-align: left;
      margin: 0px;
      right: inherit;
    }

    clear: both;
  }
  clear: both;
}
.cols_buttons_nav {
    position: absolute;
    bottom: -40px;
    width: 100%;
    left: 0px;
    z-index: 2;
    .container{
      display: block;
      margin: 0 auto;
      position: relative;
    }
}

header.head{
  height: 98px;
  background-color: #fff;
  width: 100%;
  clear: both;
  padding-top: 10px;
  .lgo_header{
    max-width: 130px;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
  }
  .taglines_hd{
    display: inline-block;
    vertical-align: bottom; 
  }
  .tops_menu_linehd{
    a:focus,
    a:hover{
      img{
        opacity: 0.9;
      }
    }
  }

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
}

header.head{
  transition: width 2s, height 4s;
}
header.head.scrollview{
  height: auto;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0,0,0, 0.1);
  .lgo_header{
    max-width: 95px;
  }
  .taglines_hd{
    max-width: 250px;
  }
  clear: both;
}

section.home-sec-1{
  .judul{
    h3{
      color: #0c1555;
      margin-bottom: 33px;
    }
  }
  .isi{
    p{
      margin-bottom: 81px;
    }
  }
  .content{
    p{
      text-align: center;
      color: #0c1555;
      font-weight: bold;
      display: block;
    }
  }
}

.view_buttns_allprod{
  margin-top: 68px;
  a{
    padding: 8px 20px;
    background-color: #0c1555;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 126px;
  }
}

section.home-sec-2{
    img{
      display: inline-block;
      margin: 0 auto;
      position: relative;
      margin-bottom: 37px;
  }
  .content{
    h3{
      text-align: center;
      margin-bottom: 92px;
    }
  }
  .isi{
    h3{
      text-align: center;
    }
    p{
      text-align: center;
      
    }
  }
}
section.home-sec-3{
  margin-top: 173px;
  h4{
    color: #022974;
    text-align: center;
    margin-bottom: 65px;
  }
  .box-image{
    p{
      text-align: center;
      margin-top: 43px;
    }
    a{
      text-align: center;
      text-decoration: none;
      display: block;
      margin-top: 40px;
      color: #022974;
    }
  }
}
  .more{
    margin-top: 68px;
    margin-bottom: 100px;
    a{
      padding: 8px 0px;
      min-width: 285px;
        background-color: #0c1555;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        color: #fff;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }
  }
  .btn-back{
  a{
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: grey;

  }
}

section.footer{
  margin-top: 45px;
    img{
      display: inline-block;
        margin: 0 auto;
        position: relative;
        max-width: 160px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    ul{
      text-align: center;
      margin-bottom: 25px;
    }
    a{
      text-decoration: none;
      color: #022974;
      font-size: 14px;
      font-weight: bold;
    }
    .contact{
      margin-top: 33px;
      margin-bottom: 35px;
      background-color: #0c1555;
        // padding: 0px 240px;
        p{
            text-align: center;
          color: #fff;
          margin: 0;
          padding: 1rem 0;
          line-height: 1;
          font-weight: 500;
          font-size: 16px;
          a{
            color: #fff;
            text-decoration: none;
          }
        }
    }
    .wa{
      background-color: black;
      padding: 1px;
    }
    .email{
      background-color: black;
      padding: 1px;
    }
  }

section.footer-2{
  .copy{
    p{
      text-align: center;
      font-weight: bold;
        color: #0c1555;
        font-size: 11px;
    }
  }
  p{
    text-align: center;
    color: #6f6f6f;
    font-size: 11px;
    font-weight: bold;
    a{
    color: #6f6f6f;
    }
  }
  padding-bottom: 1rem;
}

.outers_block_articleshome{
  .lists_data{
    .pictures{
      img{}
    }
    .contents{
      max-width: 325px;
      display: block;
      margin: 0 auto;
      p{
        line-height: 1.4;
        font-size: 18px;
        font-weight: 400;
        color: #4b4b4b;
      }
      a{
        font-weight: bold;
        font-style: 18px;
      }
    }
  }
  clear: both;
}

section.home-sec-about-1{
    .list_data-about-1{
      .pictures{
        img{}
      }
    .content{
      h4{
        font-weight: lighter;
        font-size: 35px;
        color: #022974;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      p{
        font-size: 18px;
        font-weight: lighter;
      }
    }
  }
  .list_data-about-2{
    margin-top: 45px;
    .pictures{
      img{}
    }
  }
  .list_data-about-3{
    margin-top: 45px;
    .content{
      h4{
        font-size: 35px;
        font-weight: lighter;
        color: #022974;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      p{
        font-size: 18px;
        font-weight: lighter;
      }
    }
  }
}

section.home-sec-about-2{
  background-color: #f7f7f7;
  margin-top: 185px;
  .outers{
    margin-top: 140px;
  .content{
      h4{
        text-align: center;
        font-size: 35px;
        font-weight: lighter;
        color: #022974; 
      }
      .outer{
        margin-top: 30px;
        margin-bottom: 75px;
      p{
        font-size: 18px;
        color: #303030;
        text-align: center;
      }
    }
  }
}
  .list-data-about{
    .outerss{
      margin-bottom: 140px;
    .jarak{
      margin-top: 15px;
    .content{
      h4{
        text-align: center;
        font-weight: bold;
        font-size: 21px;
        color: #022974;

      }
      p{
        font-size: 15px;
        font-weight: lighter;
        color: #303030;
        text-align: center;
      }
    }
  }
}
}
}


section.home-sec-about-3.outers_back_visionblock{
  background: url('../images/visi_02.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 750px; 
  height: auto;
  width: 100%;

  color: #fff;
  font-size: 17px;
  font-weight: 400;

  .content{
    h4{
      font-size: 42px;
      font-weight: 300;
      color: #fff;
      line-height: 1;
      margin-bottom: 1.4rem;
    }
    p{
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}
  .btn-back-about{
        a{
        text-align: center;
        color: #000;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
  }
}

section.footer{
  margin-top: 45px;
    img{
      display: inline-block;
        margin: 0 auto;
        position: relative;
        max-width: 160px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    ul{
      text-align: center;
      margin-bottom: 25px;
    }
    a{
      text-decoration: none;
      color: #022974;
      font-size: 14px;
      font-weight: bold;
    }
    .contact{
      margin-top: 33px;
      margin-bottom: 35px;
      background-color: #0c1555;
        // padding: 0px 240px;
        p{
            text-align: center;
          color: #fff;
          margin: 0;
          padding: 1rem 0;
          line-height: 1;
          font-weight: 500;
          font-size: 16px;
          a{
            color: #fff;
            text-decoration: none;
          }
        }
    }
    .wa-a{
      background-color: #25d366;
      padding: 1px;
    }
    .email{
      background-color: black;
      padding: 1px;
    }
  }

section.footer-2{
  .copy{
    p{
      text-align: center;
      font-weight: bold;
        color: #0c1555;
        font-size: 11px;
    }
  }
  p{
    text-align: center;
    color: #6f6f6f;
    font-size: 11px;
    font-weight: bold;
    a{
    color: #6f6f6f;
    }
  }
  padding-bottom: 1rem;
}

.outers_block_articleshome{
  .lists_data{
    .pictures{
      img{}
    }
    .contents{
      max-width: 325px;
      display: block;
      margin: 0 auto;
      p{
        line-height: 1.4;
        font-size: 18px;
        font-weight: 400;
        color: #4b4b4b;
      }
      a{
        font-weight: bold;
        font-style: 18px;
      }
    }
  }
  clear: both;
}

section.home-sec-quality-1{
  margin-bottom: 190px;
  .list_data-1{
    margin-bottom: 125px;
    .pictures{
      img{}
    }
    .content{
      h4{
        font-size: 35px;
        font-weight: lighter;
        color: #022974;
        margin-bottom: 25px;
        margin-top: 25px;
      }
      p{
        font-weight: lighter;
        font-size: 15px;
      }
    }
  }
  .list_data-2{
    margin-bottom: 125px;
    .content{
      h4{
        font-weight: lighter;
        color: #022974;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      p{
        font-weight: lighter;
        font-size: 15px;
      }
    }
  }
  .list_data-3{
    .content{
      h4{
        font-weight: lighter;
        color: #022974;
        margin-bottom: 10px;
      }
      p{
        font-weight: lighter;
        font-size: 15px;
      }
      img{
        max-width: 50px;
      }
    }
  }
}
section.home-sec-quality-2{
  .inner-content{
    h3{
      color: #022974;
      text-align: center;
    }
    p{
        color: #022974;
        text-align: center;
          margin: 0 auto;
        
      }
  }
  .box-image{
    h3{
      color: #c3922c;
      text-align: center;
      margin-top: 64px;
      margin-bottom: 67px;
    }
  }
  .contents1{
    h4{
    color: #c3922c;
    margin-top: 80px;
    margin-bottom: 210px;
    }
  }
  .contents2{
    h4{
    color: #c3922c;
    margin-top: 112px;
    margin-bottom: 210px;
    }
  }
  .contents3{
    h4{
    color: #c3922c;
    margin-top: 74px;
    margin-bottom: 210px;
    }
  }
  .contents4{
    h4{
    color: #c3922c;
    margin-top: 128px;
    margin-bottom: 210px;
    }
  }
}
.btn-back{
  a{
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: grey;

  }
}

section.footer{
  margin-top: 45px;
  // margin-top: 20px;
    img{
      display: inline-block;
        margin: 0 auto;
        position: relative;
        max-width: 160px;
        // margin-top: 50px;
        // margin-bottom: 60px;
    }
    ul{
      text-align: center;
      margin-bottom: 25px;
    }
    a{
      text-decoration: none;
      color: #022974;
      font-size: 14px;
      font-weight: bold;
    }
    .contact{
      margin-top: 33px;
      margin-bottom: 35px;
      background-color: #0c1555;
        // padding: 0px 240px;
        p{
            text-align: center;
          color: #fff;
          margin: 0;
          padding: 1rem 0;
          line-height: 1;
          font-weight: 500;
          font-size: 16px;
          a{
            color: #fff;
            text-decoration: none;
          }
        }
    }
    .wa{
      background-color: black;
      padding: 1px;
    }
    .email{
      background-color: black;
      padding: 1px;
    }
  }

section.footer-2{
  .copy{
    p{
      text-align: center;
      font-weight: bold;
        color: #0c1555;
        font-size: 11px;
    }
  }
  p{
    text-align: center;
    color: #6f6f6f;
    font-size: 11px;
    font-weight: bold;
    a{
    color: #6f6f6f;
    }
  }
  padding-bottom: 1rem;
}

.outers_block_articleshome{
  .lists_data{
    .pictures{
      img{}
    }
    .contents{
      max-width: 325px;
      display: block;
      margin: 0 auto;
      p{
        line-height: 1.4;
        font-size: 18px;
        font-weight: 400;
        color: #4b4b4b;
      }
      a{
        font-weight: bold;
        font-style: 18px;
      }
    }
  }
  clear: both;
}

// start sgng

section.home-sec-contact{
  .judul{
    margin-bottom: 65px;
    h4{
      text-align: center;
      font-weight: 300;
      color: #022974;
      font-size: 35px;
    }
  }
  .tes{
    display: block;
    margin: 0 auto;
    position: relative;
  }
}

section.home-sec-contact-2{
  margin-bottom: 150px;
  .box-image{
      img{
    margin: 0 auto;
    position: relative;
    display: block;
    }
  }

  .titles{
    text-align: center;
    margin-top: 40px;
    h4{
      font-weight: 700;
      font-size: 19px;
      display: block;
      line-height: 1.3;
    }
    h6{
      display: block;
      padding-bottom: 1rem;
    }
    p{
      font-size: 18px;
      font-weight: 300;
      color: #303030;
    }
    padding-bottom: 1rem;
  }
  .content{
    p{
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      color: #303030;
      line-height: 1.4;
    }
  }

}

.box_info_contacttop{
    .box_item{
      text-align: center;
      // margin-top: 40px;
      .n_icon{
        i.fa{
          font-size: 25px;
          color: #c2922c;
        }
      }
      .texts{
        p{
          font-size: 16px;
          font-weight: 500;
          color: #303030;
          a{
            color: #303030;
            text-decoration: none;
          }
        }
      }
      // h4{
      //   font-weight: bold;
      //   font-size: 19px;
      // }
    }
  }

section.home-sec-blog{
  .lists_data{
    margin-bottom: 90px;
  }
  h4{
    text-align: center;
    font-weight: lighter;
    color: #022974;
    margin-bottom: 60px;
  }
  .pictures{
    margin-bottom: 28px;
  }
  .contents{
    text-align: center;
    margin-bottom: 40px;
    p{
    font-size: 18px;
    margin-bottom: 25px;
    }
    a{
      text-decoration: none;
      font-weight: bold;
    }
  }
}

section.home-sec-product-detail{
  margin-bottom: 150px;
  .title{
    margin-bottom: 95px;
    h4{
      text-align: center;
      font-weight: bold;
      color: #022974;
      font-size: 20px;
    }
    p{
      text-align: center;
      font-weight: lighter;
      color: #022974;
      font-size: 35px;
    }
  }
  .kanan{
    background-color: #e6e9ea;
    max-width: 660px;
    min-height: 645px;
    h4{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #223b79;
    }
    h3{
      color: #223b79;
      font-weight: bold;
      font-size: 15px;
    }
    p{
      font-size: 15px;
    }
  }
}

section.home-sec-blog-detail{
  .inner-awal{
    p{
      text-align: center;
      color: #022974;
      font-weight: bold;
      margin-bottom: 43px;
      }
    h3{
      text-align: center;
      color: #022974;
      margin-bottom: 98px;
    }
  }
  .inner-img{
    img{
      margin-bottom: 98px;
    }
  }
  .inner-isi{
    p{
      color: #022974;
      text-align: left;
      margin-bottom: 39px;
    }
  }
}


section.home-sec-products{
  .inner-judul{
    h3{
      text-align: center;
      color: #022974;
      margin-bottom: 58px;
    }
    p{
      text-align: center;
      margin-bottom: 72px;
    }
  }
  .image{
    img{
      margin-bottom: 29px;
    }
  }
  .inner-isi{
    p{
      color: #022974;
      text-align: center;
      font-weight: bold;
    }
  }
}

section.home-sec-products-2{
  .image{
    img{
      margin-bottom: 29px;
    }
  }
  .inner-isi{
      color: #022974;
      text-align: center;
      font-weight: bold;
  }
}
// end sgng

@import 'subpage.less';

// gilang
@import 'media_mob.less';

// dapid
@import 'media_mob_dapid.less';
